<h2 mat-dialog-title><strong>Select location</strong></h2>
<mat-dialog-content>
  <div class="path">
    <mat-chip-set>
      @for(location of selectedPath;track location){
      <mat-chip [classList]="chipIcon(location.name).color">
        <span class="chip-label">{{location.name}}</span>
      </mat-chip>
      }
    </mat-chip-set>
  </div>
  <div>
    @if(loading){
    <div class="add-loading">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>
    }
    @if(currentLocations){
    <div class="buttons">
      @for(location of currentLocations; track location){
      <button mat-fab extended (click)="selectLocation(location)">{{location.name}}</button>
      }
    </div>
    }
    @if(currentLocations.length === 0 && selectedPath.length > 0 && !loading){
    <div class="add-quantity">
      <button mat-mini-fab color="accent" matPrefix (click)="decrement()">
        <mat-icon class="material-symbols-outlined">exposure_neg_1</mat-icon>
      </button>
      <div class="quantity">
        <mat-form-field appearance="outline">
          <mat-label>Quantity</mat-label>
          <input matInput type="number" [formControl]="qtyControl">
        </mat-form-field>
      </div>
      <button mat-mini-fab matPrefix (click)="increment()">
        <mat-icon class="material-symbols-outlined">exposure_plus_1</mat-icon>
      </button>
    </div>
    }
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="close()">Close</button>
  <button mat-raised-button class="saveBtn" (click)="save()">Save</button>
</mat-dialog-actions>
