@if(isIos){
  <div class="iosMargin"></div>
}
@if(showLoading$ | async){
<mat-progress-bar mode="indeterminate" style="position: absolute; z-index: 999"></mat-progress-bar>
}
<mat-toolbar class="bg-blue-100">
  <span>Inventory Scanner</span>
  <span class="example-spacer"></span>
  <button mat-icon-button  [matMenuTriggerFor]="menu" style="color: white">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon class="material-symbols-outlined">logout</mat-icon>
      <span>Sing out</span>
    </button>
  </mat-menu>
</mat-toolbar>
