<div class="login-container">
  <mat-card class="login-box">
    <div class="back">
      <button mat-icon-button routerLink="/login">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <div class="logo">
      <!-- Replace with your logo -->
      <img src="royo.png" alt="App Logo" />
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <mat-form-field appearance="fill" class="full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required autocomplete="new-email" />
        <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          Please enter a valid email.
        </mat-error>
      </mat-form-field>

      @if(showErrorMessage){
      <div class="error">Email is incorrect.</div>
      }
      @if(showSuccessMessage){
      <div class="success">Check your email for the reset password link.</div>
      }

      <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="loginForm.invalid">
        Request new password
      </button>

    </form>
  </mat-card>
</div>
