@use '@angular/material' as mat;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header {
  @include mat.toolbar-overrides((container-background-color: #0c2c48,
      container-text-color: white,
    ));
}
